body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #fafafa;
}

#game {
  width: 600px;
  height: 250px;
  border: 3px solid #333;
  margin: auto;
  margin-top: 30px;
  background: linear-gradient(#c5f7ff, #fff);
  position: relative;
  overflow: hidden;
}

#dino {
  width: 50px;
  height: 50px;
  background: green;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
}

#cactus {
  width: 40px;
  height: 60px;
  background: brown;
  position: absolute;
  bottom: 0px;
  right: -60px;
}

#scoreBox {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

#gameOverScreen {
  display: none;
  margin-top: 30px;
  font-size: 25px;
}

#restart {
  padding: 10px 20px;
  background: #ff5252;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
